/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
}
.skills__header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}
.skills__icon {
  margin-right: var(--mb-0-75);
}
.skills__title {
  font-size: var(--h3-font-size);
}
.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills__content {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.skills__content:hover {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.15);
}
.skills__icon-tecnology {
  font-size: 32px;
}
@media screen and (min-width: 375px) {
  .skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
