/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification__button:hover {
  color: var(--first-color);
}
.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: flex;
  justify-content: center;
}
.qualification__sections {
  border-radius: 8px;
  padding: 10px 0;
}
.qualification__sections {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.15);
}
.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin: 8px 0;
}
.qualification__calendar {
  display: flex;
  align-items: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-right: 8px;
}
.qualification [data-content] {
  display: none;
}
.qualification__active[data-content] {
  display: block;
}
.qualification__button .qualification__active {
  color: var(--first-color);
}
@media screen and (min-width: 568px) {
  .qualification__sections {
    width: 70%;
    margin: 0 auto;
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__sections {
    width: 60%;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }
}
