/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: initial;
}
.slides .slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.slides .slick-prev {
  left: -10px;
}
.slides .slick-next {
  right: 10px;
}
.slides .slick-prev:before {
  color: #000;
}
.slides .slick-next:before {
  color: #000;
}
.portfolio__content {
  padding: 0 1.5rem;
}
.portfolio__img {
  border-radius: 0.5rem;
  justify-self: center;
}
.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio__description {
  margin-bottom: var(--mb-0-75);
}
.portfolio__button {
  margin: 16px auto;
  width: 70%;
}
.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}
@media screen and (min-width: 375px) {
  .portfolio__button {
    margin: 16px 4px;
    width: auto;
  }
  .portfolio__content-button {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 425px) {
  .portfolio__title {
    text-align: center;
  }
  .portfolio__description {
    width: 80%;
    margin: 10px auto;
    text-align: justify;
  }
}
