.services__modal-services {
  row-gap: 1rem;
}
.services__modal-service {
  display: flex;
}
.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}
.services__modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}
